NET "dac_sck" LOC = P58 | IOSTANDARD = LVCMOS33;
NET "dac_mosi" LOC = P57 | IOSTANDARD = LVCMOS33;
NET "dac_ss" LOC = P67 | IOSTANDARD = LVCMOS33;
NET "adc_sck" LOC = P10 | IOSTANDARD = LVCMOS33;
NET "adc_ss" LOC = P11 | IOSTANDARD = LVCMOS33;
NET "adc_st<0>" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "adc_st<1>" LOC = P14 | IOSTANDARD = LVCMOS33;
NET "adc_miso" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "adc_reset" LOC = P16 | IOSTANDARD = LVCMOS33;
NET "adc_busy" LOC = P17 | IOSTANDARD = LVCMOS33;