NET "ss" LOC = P27 | IOSTANDARD = LVCMOS33;
NET "sck" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "st0" LOC = P23 | IOSTANDARD = LVCMOS33;
NET "st1" LOC = P22 | IOSTANDARD = LVCMOS33;
NET "miso" LOC = P21 | IOSTANDARD = LVCMOS33;
NET "mosi" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "reset" LOC = P12 | IOSTANDARD = LVCMOS33;